<div class="col-md-6">
    <div class="form-floating mb-3">
        <input type="text"  value="{{this.first_name}}"  class="form-control" id="floatingInput" name="first_name" placeholder="first name">
        <label for="floatingInput">First name</label>
    </div>
</div>
<div class="col-md-6">
    <div class="form-floating mb-3">
        <input type="text" value="{{this.last_name}}" class="form-control" id="floatingInput" name="last_name" placeholder="last name">
        <label for="floatingInput">Last name</label>
    </div>
</div> 

<div class="col-md-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control"  value="{{this.email}}"  id="floatingInput" name="email" placeholder="email@email.com">
        <label for="floatingInput">email</label>
    </div>
</div> 
<div class="col-md-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control"  value="{{this.phone}}"  id="floatingInput" name="phone" placeholder="phone">
        <label for="floatingInput">Phone</label>
    </div>
</div>
<div class="col-md-12">
    <div class="form-floating mb-3">
        <input type="text" style="height: 200px;"  value="{{this.phone}}"  class="form-control" id="floatingInput" name="comments" placeholder="comments">
        <label for="floatingInput">comments</label>
    </div>
</div>
<div class="col-md-12">
    <div class="form-floating mb-3">
        <input type="file" style="height: 200px;"  value=""  class="form-control" id="floatingInput" name="image" placeholder="comments">
        <label for="floatingInput">choisir</label>
    </div>
</div>
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>
